@mixin flex-center {
  display: flex;
  align-items: center;
}

@mixin flex-center-sbw {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-al-flex-start {
  display: flex;
  align-items: flex-start;
}
