// Colors

// Font scale Material Design 3
$typography: (
  display-lg: (
    size: 57px,
    line-height: 64px,
  ),
  display-md: (
    size: 45px,
    line-height: 52px,
  ),
  display-sm: (
    size: 36px,
    line-height: 44px,
  ),
  headline-lg: (
    size: 32px,
    line-height: 40px,
  ),
  headline-md: (
    size: 28px,
    line-height: 36px,
  ),
  headline-sm: (
    size: 24px,
    line-height: 32px,
  ),
  title-lg: (
    size: 22px,
    line-height: 28px,
  ),
  title-md: (
    size: 16px,
    line-height: 24px,
  ),
  title-sm: (
    size: 14px,
    line-height: 20px,
  ),
  body-lg: (
    size: 16px,
    line-height: 24px,
  ),
  body-md: (
    size: 14px,
    line-height: 20px,
  ),
  body-sm: (
    size: 12px,
    line-height: 16px,
  ),
  label-lg: (
    size: 14px,
    line-height: 20px,
  ),
  label-md: (
    size: 12px,
    line-height: 16px,
  ),
  label-sm: (
    size: 11px,
    line-height: 16px,
  ),
);
