@use "../../styles/index" as *;

.footer {
  @include flex-center-sbw;

  width: 100%;
  position: absolute;
  bottom: 0;

  padding: 8px 64px;
  margin-top: 0px;
  font-size: 14px;

  .footer__socials {
    @include flex-center;
    justify-content: center;
    gap: 12px;

    i {
      width: 15px;
      height: 15px;
      cursor: pointer;
    }
  }
}
