@use "../../styles/index" as *;

.footer {
  background: #5c5c5c;
  color: $color-c-gray;
  padding: 48px 64px;
  margin-top: auto;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav li text,
  .nav__logo__icon,
  .nav__logo__text__up,
  .nav__logo__text__down,
  .nav nav ul li text {
    color: $color-c-gray;
  }

  hr {
    margin: 20px 0;
    border: 0.5px solid $color-c-gray;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;

    .footer__socials {
      @include flex-row-center;
      justify-content: center;
      gap: 12px;

      i {
        width: 15px;
        height: 15px;
        cursor: pointer;
      }
    }
  }
}
