@use "../../styles/index" as *;

.nav {
  @include flex-center-sbw;
  height: 6vh;

  &__logo {
    display: flex;
    gap: 4px;

    &__icon {
      width: 24px;
      height: 24px;
    }

    &__text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      height: 41px;

      &__up {
        font-weight: 700;
        font-size: 24px;
        line-height: 110%;
        margin: -4px 0px;
      }

      &__down {
        font-weight: 400;
        font-size: 12px;
        line-height: 140%;
      }
    }
  }

  nav {
    @include flex-center;
    gap: 16px;

    ul {
      @include flex-center;
      gap: 16px;

      li {
        padding: 0px 12px;

        // text
        font-weight: 500;
        font-size: 16px;
      }

      span {
        width: 24px;
        height: 24px;
      }
    }

    .line {
      width: 35px;
      height: 0px;
      border: 1px solid #f9f7f9;
      transform: rotate(90deg);
    }
  }
}
